body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-image: url("/Portfolio/static/img/fond.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    background: #0087ff7a;
    color: #333; /* couleur de texte */
    height: 100vh;
}

.text {
    text-transform: uppercase;
    background: linear-gradient(to right, orange 0%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}

h3{
    text-align: justify;
    font-size: 1.5rem;
}

/* Header */

header h1 {
    margin-top: 1.5rem;
    text-align: center;
}

header {
    margin-top: 150px;
    height: 100vh;
}

header h2 {
    text-align: justify;
    font-size: 2rem;
    color: #333;
    margin: 0 5%;
}

/* Navbar */

nav {
    background-color: #33333300;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
    font-size: 2.5em;
    color: white;
    z-index: 1;
}

nav h1 {
    display: inline-block;
    margin: 0;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

/* Main */

main{
    padding: 2rem;
}

section {
    margin: 20px auto;
    width: 95%;
}

.grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
}

.card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 98%;
    max-width: 98%;
    margin: 2% auto;
}

pre {
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    background-color: #f0f0f0;
    display: none; /* Masqué par défaut */
}

/* Footer */

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

button {
    margin-bottom: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

#contact-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95%;
    max-width: 95%;
    display: flex;
    margin : auto;
    flex-direction: column;
    gap: 15px;
}

/* Style des inputs et textarea */
#contact-form input,
#contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

/* Bouton d'envoi */
#contact-form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Placeholder style */
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #999;
}

/* Responsive design */
@media (max-width: 600px) {
    #contact-form {
        padding: 15px;
    }
}


/* Button custom */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
}

.custom-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn:before {
    height: 0%;
    width: 2px;
}
.custom-btn:after {
    width: 0%;
    height: 2px;
}
.custom-btn:hover{
     background: transparent;
    box-shadow: none;
}
.custom-btn:hover:before {
    height: 100%;
}
.custom-btn:hover:after {
    width: 100%;
}
.custom-btn a:hover{
     color: rgba(2,126,251,1);
}
.custom-btn a:before,
.custom-btn a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn a:before {
    width: 2px;
    height: 0%;
}
.custom-btn a:after {
    width: 0%;
    height: 2px;
}
.custom-btn a:hover:before {
    height: 100%;
}
.custom-btn a:hover:after {
    width: 100%;
}

/* Style pour le slider */
.slider {
    overflow: hidden;
}

.slide {
    display: none;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    padding: 16px;
    font-size: 18px;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    z-index: 0;
}

.prev {
    left: 30%;
}

.next {
    right: 30%;
}

.news-slider__arrow {
    background: #fff;
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    outline: none !important;
    transform: translateY(-50%);
  }
  
  .news-slider-prev {
    left: 15%;
  }
  
  .news-slider-next {
    right: 15%;
  }
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  