body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-image: url("/Portfolio/static/img/fond.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
}

nav h1 {
    color: white;
    display: inline-block;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header h1 {
    margin-top: 1.5rem;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.projects-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.project-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    margin: 2%;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
}

.custom-btn a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn:before {
    height: 0%;
    width: 2px;
}
.custom-btn:after {
    width: 0%;
    height: 2px;
}
.custom-btn:hover{
     background: transparent;
    box-shadow: none;
}
.custom-btn:hover:before {
    height: 100%;
}
.custom-btn:hover:after {
    width: 100%;
}
.custom-btn a:hover{
     color: rgba(2,126,251,1);
}
.custom-btn a:before,
.custom-btn a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.custom-btn a:before {
    width: 2px;
    height: 0%;
}
.custom-btn a:after {
    width: 0%;
    height: 2px;
}
.custom-btn a:hover:before {
    height: 100%;
}
.custom-btn a:hover:after {
    width: 100%;
}

#message-result {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}

#message-result.success {
    background-color: #4caf50;
    color: white;
}

#message-result.error {
    background-color: #f44336;
    color: white;
}
pre {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    background-color: #f0f0f0;
    display: none; /* Masqué par défaut */
}
button {
    margin-bottom: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

#contact-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95%;
    max-width: 95%;
    display: flex;
    margin : auto;
    flex-direction: column;
    gap: 15px;
}

/* Style des inputs et textarea */
#contact-form input,
#contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

/* Bouton d'envoi */
#contact-form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Placeholder style */
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #999;
}

/* Responsive design */
@media (max-width: 600px) {
    #contact-form {
        padding: 15px;
    }
}